<ActionBar>
    <Label text="MedCare"></Label>
</ActionBar>


<StackLayout verticalAlignment="center" backgroundColor="#000000">
           <StackLayout margin="15" borderRadius="10" >
                <Image src="https://5.imimg.com/data5/ZD/QV/LI/SELLER-81194984/pharmaceutical-tablets-500x500.jpg" width="200" height="120"
                    stretch="aspectFill"></Image>
                <StackLayout backgroundColor="white" padding="10">
                    
                    
                    <Button columnn= "0" text= "Add a Medicine"   (ontap)="createModalView()"  class="btn btn outline btn-rounded-sm"> </Button>
                
                </StackLayout>
            </StackLayout>

</StackLayout>

